body {
    background-color: #270ac9;
    color: rgb(0, 0, 0);
    font-family: "arial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1200px;
    margin: 0;
}

button {
    background-color: #000000;
    color: rgb(255, 0, 0);
    font-family: "arial", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}